<div style="min-height: 100vh" flex md-colors="{background: 'indigo'}">
  <div layout="column" layout-align="center center"  style="min-height: 500px">
   <div layout="row"><h1> AngularJS - Boilerplate</h1></div>
   <img width="200" height="200" src="angular-logo.svg"/>
    <div layout="row" layout-align="center center" max-height="60%" >
      <p flex="60">
        <b>Angularjs Boilerplate</b><br/> created by javierlog08 to use on Weblabs Panamá to create Hybrid Apps. This App implement Angularjs / Angular Material / SASS / GULP and more... 
      </p>
    </div>
  </div>
</div>