<md-dialog flex="30" class="login-component" aria-label="Login">
    <header>
      <md-toolbar >
      <div layout-align="center center" class="md-toolbar-tools">
          <h2>Login</h2>
        </div>
      </md-toolbar>
    </header>

    <main flex>
      <md-dialog-content>
        <div class="md-dialog-content">
          <md-input-container class="md-block">
            <label>Username</label>
            <input type="text" ng-model="loginCtrl.model.username" />
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" ng-model="loginCtrl.model.password" />
          </md-input-container>
        </div>
      </md-dialog-content>
    </main>
    
    <footer>
      <div layout="row" layout-align="center center" flex>
        <md-button class="md-raised md-primary" flex="100" md-primary ng-click="loginCtrl.auth()" target="_blank">
          Sign In
        </md-button>
      </div>
    </footer>

    
</md-dialog>