<md-dialog flex="30" class="login-component" aria-label="Login">
    <header>
      <md-toolbar >
      <div layout-align="center center" class="md-toolbar-tools">
          <h2>Login</h2>
        </div>
      </md-toolbar>
    </header>

    <main flex>
      <md-dialog-content>
        <form name="loginForm">
          <div class="md-dialog-content">
            <md-input-container class="md-block">
              <label>Username</label>
              <input name="username" type="text" ng-model="loginCtrl.model.username" />
              <div ng-messages="loginForm.username.$error">
                <div ng-message="login-error">{{loginCtrl.formErrors[0]["login-error"]}}</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Password</label>
              <input name="password" type="password" ng-model="loginCtrl.model.password" />
              <div ng-messages="loginForm.password.$error">
                <div  ng-message="login-error">{{loginCtrl.formErrors[0]["login-error"]}}</div>
              </div>
            </md-input-container>
          </div>
        </form>
      </md-dialog-content>
    </main>
    
    <footer>
      <div layout="row" layout-align="center center" flex>
        <md-button class="md-raised md-primary" flex="100" md-primary ng-click="loginCtrl.auth(loginForm)" target="_blank">
          Sign In
        </md-button>
      </div>
    </footer>
</md-dialog>